/vendor/
/.svn/
/testdox.html
/tests/config.php
/assets/components/
/nbproject/private/
/config.php
/data/
/docs/_build/
/.htaccess
/.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
